<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	throwConfigExceptions="true" >

	<!-- Define various log targets -->
	<targets>
		<!-- Write logs to a file on the server -->
		<target xsi:type="File" name="logfile" fileName="X:\\AAM-WORKGROUP DATA\\AAM_BIM\\AAM_DesignTechnology\\03_Automation and Tool Development\\09_OfficeTools\\AAMFileNaming\\01_Logs\\AAMFileNaming.log"
				archiveFileName="X:\\AAM-WORKGROUP DATA\\AAM_BIM\\AAM_DesignTechnology\\03_Automation and Tool Development\\09_OfficeTools\\AAMFileNaming\\01_Logs\\AAMFileNaming.{#}.log"
				archiveEvery="Day"
				
				archiveNumbering="Rolling"
				maxArchiveFiles="30" 
				layout="${longdate} ${level} ${environment-user} ${message} ${exception}" />

	</targets>

	<!-- Define rules -->
	<rules>
		<!-- All logs from all levels -->
		
		<logger name="*" minlevel="Trace" writeTo="logfile" />
	</rules>
</nlog>
